*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("weeb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.row{
    width: 100%;
    padding: 0px 80px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px 16px;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.navbar ul li a:hover{
    background-color: rgb(171, 143, 143);
    color: blue;
}

.navbar h1{
    color: rgb(31, 168, 152);
    font-size: 50px;    
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 10px;
}
.content{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-size: 46px;
    color: rgb(126, 146, 74);
    font-weight: 400; 
}

.content p{
    font-size: 16px;
    color: #ffffff;
}
.content a{
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: rgb(130, 117, 117);
    border-radius: 5px;
    color: #ffffff;
}
.content a:hover{
    background-color: rgb(171, 143, 143);
    color: black
}